body {
  font-size: 16px;
  min-width: 320px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgba(77, 83, 60, 0.9);
}

img {
  max-width: 100%;
  height: auto;
}

* {
  padding: 0;
  margin: 0;
}

#main-banner {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  width: 85%;
  margin: 0 auto;
  height: 100vh;
}

.container:not(#main-banner .container) {
  display: flex;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  left: 5.5%;
  height: auto;
}

.triangle.first {
  z-index: 5;
}

.triangle.second {
  position: relative;
  left: -27px;
  z-index: 4;
}

.logo {
  display: flex;
  z-index: 6;
}

header .nav-top {
  display: flex;
  list-style-type: none;
  font-size: 22px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
  justify-content: space-evenly;
  height: 100%;
  z-index: 3;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s all;
}

header .nav-top li a {
  display: block;
  text-decoration: none;
  color: white;
  transition: color 0.1s linear;
}

header .nav-top li a:hover {
  color: #f8c10c;
}

#check-burger {
  display: none;
}

#check-burger:checked ~ .nav-top {
  opacity: 1;
}

.burger img {
  position: absolute;
}

.burger-span {
  display: block;
  cursor: pointer;
  padding: 13px 9px;
  position: relative;
  z-index: 5;
  border-radius: 50%;
  box-shadow: inset 50px 50px white;
}

.burger-line {
  width: 22px;
  height: 2px;
  background: black;
  transition: 0.3s all;
}

.second {
  position: absolute;
}

.first,
.third {
  margin-bottom: 4px;
}

#check-burger:checked ~ label .burger-span .burger-line.first {
  display: none;
}

#check-burger:checked ~ label .burger-span .burger-line.second {
  transform: rotate(45deg);
  height: 2px;
  position: relative;
  top: 3px;
}

#check-burger:checked ~ label .burger-span .burger-line.third {
  transform: rotate(-45deg);
  position: relative;
  top: 1px;
}

#check-burger:checked ~ label .burger-span .burger-line.fourth {
  display: none;
}

#check-burger:checked ~ label .burger-span {
  padding: 16px 9px;
}

#main-banner .text-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-banner .text-container > p,
#main-banner .text-container > h1 {
  color: white;
}

.text-container p {
  font-size: 14px;
}

.text-container h1 {
  font-weight: bold;
  font-size: 60px;
  padding: 20px 0;
}

.text-container:not(#main-banner .text-container) h1 {
  font-size: 36px;
  color: rgba(77, 83, 60, 1);
}

.text-container a {
  display: flex;
  align-items: center;
  padding-top: 40px;
  text-decoration: underline;
  text-decoration-color: #ffd723;
}

.text-container:not(#main-banner .text-container) a {
  text-decoration-color: rgba(212, 214, 212, 1);
}

.text-container a p {
  font-weight: bold;
  color: #ffd723;
}

.text-container:not(#main-banner .text-container) a p {
  color: rgba(212, 214, 212, 1);
}

.text-container a .triangle {
  border: 5px solid transparent;
  border-left: 5px solid #ffd723;
  width: 5px;
}

.text-container:not(#main-banner .text-container) a .triangle {
  border-left: 5px solid rgba(212, 214, 212, 1);
}

.text-container h6 {
  font-size: 16px;
  padding: 20px 0;
  color: rgba(33, 56, 66, 0.6);
  font-weight: 400;
}

.brands {
  position: absolute;
  transform: translate(0, -50%);
  z-index: 2;
  right: 0;
  background: white;
  padding: 40px 0;
  width: 92.5%;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
}

.brands-container {
  display: flex;
  height: auto;
  width: 90%;
  margin: 0 auto;
}

.brands-container img {
  width: 50%;
}

.brands-container img:not(:last-child) {
  margin-right: 60px;
}

#about-us .container {
  display: flex;
  justify-content: space-evenly;
}

.text-container {
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 35%;
}

.card-container {
  padding: 20px;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-container h3 {
  font-style: italic;
  font-size: 20px;
  font-weight: 200;
  color: rgba(77, 83, 60, 1);
}

.author {
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 140px;
}

.name-job {
  position: relative;
  top: 27px;
  right: 15px;
  @media only screen and (max-width: 992px) {
    top: 0;
  }
}

.name-job h2 {
  font-weight: bold;
  font-size: 18px;
  color: rgba(77, 83, 60, 1);
  @media only screen and (max-width: 992px) {
    font-size: 16px;
  }
}

.name-job p {
  font-size: 16px;
  color: rgba(21, 41, 52, 1);
  @media only screen and (max-width: 992px) {
    font-size: 14px;
  }
}

.br .container {
  height: 1px;
  background: rgba(33, 56, 66, 0.1);
}

.heading-parag {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

.heading-parag h1 {
  font-size: 36px;
  color: rgba(77, 83, 60, 1);
  font-weight: bold;
  width: 40%;
}
.heading-parag p {
  width: 45%;
  color: rgba(33, 56, 66, 0.6);
}

.project-item {
  width: 100%;
  display: flex;
  padding-bottom: 300px;
}

.project-item.right {
  justify-content: flex-end;
}

.concept-photo {
  width: 90%;
  position: relative;
}

.project-item.right .concept-photo {
  float: right;
}

.concept-description {
  position: absolute;
  bottom: -90px;
  right: -70px;
}

.project-item.right .concept-description {
  bottom: -90px;
  left: -70px;
}

#projects .card {
  float: right;
  width: 60%;
  background: white;
  border-radius: 8px;
}

#projects .project-item.right .card {
  float: left;
}

#projects .card img {
  width: 125px;
}

#projects .card-container {
  height: auto;
  padding: 30px 30px 0 30px;
  border-radius: 8px;
}

#projects .card-container h3 {
  font-size: 16px;
}

#projects .author {
  justify-content: flex-start;
}

#projects .name-job {
  top: 23px;
}

#projects .name h2 {
  font-size: 16px;
}

#projects .job p {
  font-size: 14px;
}

#projects .text-container {
  width: 25%;
  margin: 0 150px;
}

#projects .text-container p {
  color: rgba(33, 56, 66, 0.6);
}

#projects .text-container a {
  margin-top: 50px;
}
